@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayoutMaster.cshtml";
}
<h2>DASHBOARD</h2>
<hr />
<div class="row">
    <div class="col-md-12">
        @*Charts will be here*@ 
    </div>
</div>
<div class="row">
    <div class="col-md-12">

    </div>
</div>